@import "@/styles/_mixins";

.newEventForm {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__form {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__formTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__formContent {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1;
  }

  &__select {
    width: 100%;
    & > div {
      width: 100%;
    }
  }
}
